* {
    padding: 0;
    margin: 0;
    font-family:sans-serif;
    scroll-behavior: smooth;
}

html, body {
  max-width: 2000px;
  max-height: 900px;
}



/* Nav Bar */

.navigation-bar{
  position: fixed;
  height: 26px;
  background-color: rgba(250, 250, 252, 0.795);
  top: 0rem;
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  width: 96.5%;
}


.logo{
  top: 0;
  left: 0;
  float: left; 
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
.hamburger {
  display: none;
  border: 2.2px solid black;
  padding: 5px 7px;
  border-radius: 10px;
}

.bar-white{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  margin-left: 5rem;
}

.nav-click{
  font-size: 1.4rem;
  font-weight: 300;
  color: #1e1e1f;
}

.nav-click:hover{
  color: rgb(2, 82, 230);
  padding-bottom: 12px;
  border-bottom: 3px solid rgb(2, 82, 230);
}

.nav-click:focus{
  color: rgb(2, 82, 230);
  padding-bottom: 12px;
  border-bottom: 3px solid rgb(2, 82, 230);
}


/* Home Section */

.home-section {
  display: flex;
  width: 100% auto;
  height: 570px;
  padding-top: 160px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: url("assets/bg-home1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.ps5-logo{
  margin-top: 0%;
  margin-left: 5%;
}

#caption{
  font-size: 34px;
  font-weight: lighter;
  color: whitesmoke;
}

.ps5-hero-image {
  width: 300px;
  margin-top: 20px;
  margin-left: 34vmin; 
}

/* Watch */

.watch-section{
  background: linear-gradient(to right, rgb(20, 17, 25) 0%, rgba(0,48, 135) 80%, rgb(31, 48, 75) 100%);
  width: 100% auto;
  height: 637px;
  text-align: center;
  padding-top: 60px;
}

/* Games */

.games-section {
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
  background-image: linear-gradient(300deg, #000000 0%, #04619f 90%);  
  
  display: grid;
  padding: 22px 22px;
  text-align: center;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 100px;
  padding-top: 50px;
  position: relative;

  width: 0 auto;
  height: 1150px;
}

.column-game img{
  width: 357.5px; 
  height: auto;
  box-shadow: 0.5rem 0.5rem 1.5rem 0.5rem black;
  transition: transform .25s, visibility .25s ease-in-out;
  overflow: hidden;
}


.column-game img:hover{
  transition-duration: 0.3s; 
  transform: scale(1.1);
}

.button-game a{
  text-decoration: none;
  color: rgb(255, 255, 255) ;
}

.button-game{
  background-color: transparent;
  text-decoration: none;
  border: rgba(198, 199, 201, 0.979) solid 3px;
  padding: 14px 19px;
  border-radius: 7px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-top: 20px;
}

.button-game:hover{
    background-color: rgba(244, 244, 245, 0.973);
    transition: .8s;
    transform: scale(1, 1);
}

.button-game a:hover{
  color: rgba(0,48, 135);
  font-weight: 500;
}

#caption-game{
  color: white;
}

/* Features */

.features{
  background-image: url("assets/bg-features.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 125vmin;
}

.features-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 45px;
  padding-left: 120px;
  padding-top: 35px;
}

.features-container img{
    float: left;
    width: 20vmin; 
    height: auto;
}

.features-container .feat-caption{
  color: white; 
  font-weight: 100; 
  margin-top: 20px;
  font-size: 30px;
}

.features-container .feat-captionbot{
  color: white; 
  margin-top: 20px;
  font-size: 1.2rem; 
  font-weight: 100;
}

/* Sign up */

.signup-form{
  width: auto;
  height: 64.2vh;
  background: linear-gradient(to bottom, rgba(5, 5, 5, 0.473) 0%, rgba(0,48, 135) 100%, rgb(23, 35, 54) 100%);
  background-color: black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 58px 30px 25px 25px;
}

input[type="email"]{
  border: transparent;
  background-color: rgba(250, 250, 252, 0.884);
  border-radius: 20px;
  text-align: center;
  font-size: 1.3rem;
  height: 54.2px;
  width: 450px;
  outline: none;
}

input[type="submit"]{
  cursor: pointer;
  margin-left: 50px;
  font-size: 1.07rem;
  border: 3px solid rgb(240, 240, 243);
  background-color: transparent;
  color: white;
  padding: 14px 13px 12px;
  margin-bottom: 10px;
  border-radius: 15px;
  transition: .5s ease-out;
}

input[type="submit"]:hover{
  background-color: rgb(240, 240, 243);
  color: rgba(0,48, 135);
  transition: .3s;
  transform: scale(1, 1);
}

/* Media Queries */

@media only screen and (max-width: 768px){

  .navigation-bar{
    width: 95%;
  }

  .nav-menu {
    position: fixed;
    right: -100%;
    top: 3.60rem;
    flex-direction: column;
    background-color: rgba(250, 250, 252, 0.952);
    width: 100%;
    text-align: left;
    transition: 0.3s;
    box-shadow:
    0 10px 27px rgba(0, 0, 0, 0.05);
}

   .nav-menu.active {
     right: 0;
}

   .nav-items {
    margin: 2.5rem 0;
  }
    .hamburger.active .bar-white:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar-white:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar-white:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .hamburger{
        display: block;
        cursor: pointer;
      }

    .ps5-logo{
      display: none;
      }

    .ps5-hero-image{
     display: block;
     margin-left: 18%;
      }

    .home-section{
      padding-right: 400px;
    }

    #watch-section{
       width: 600px;
      }
  
    .games-section{
      display: block;
      font-size: 3rem;
      height: 3000px;
    }
     .features{
      background: transparent;
      margin-top: 0;
    }
    .features-section{
      background: linear-gradient(to top, rgba(5, 5, 5, 0.473) 0%, rgba(0,48, 135) 100%, rgb(23, 35, 54) 100%) ;
      width: auto;
      height: 1400px;
    }
    .features-header{
      background: linear-gradient(to top, rgba(5, 5, 5, 0.473) 0%, rgba(0,48, 135) 100%, rgb(23, 35, 54) 100%);
    }

    .features-container{
      display: grid;
      grid-column-gap: 50%;
      text-align: center;
      margin-right: 40px;
      top: 0;
    }

    .feat-list img{
      width: 100%;
      margin: 1.5rem 0 2rem 0.3rem;
    }

    .feat-list .feat-caption{
      font-size: 1.5rem;
      text-align: center;
    }

    .feat-list .feat-captionbot{
      font-size: 80%;
      text-align: center;
    }



    .signup-form{
      margin-top: 0;
      background: linear-gradient(to bottom, rgb(5, 5, 5) 50%, rgba(0,48, 135) 100%, rgb(23, 35, 54) 100%);
    }


    input[type="submit"]{
      margin-top: 50px;
      margin-right: 45px;
      padding: 15px 40px;
      font-size: 20px;
      }

}

@media screen and (max-width: 960px){

  .ps5-logo{
    text-align: center;
    margin-left: 70px;
  }

  #logo-ps5{
    top: 100%;
  }
  .home-section{
    height: 700px;
  }

  #watch-section{
    width: 70%;
  }

  .signup-form{
    height: 650px;
  }
  .features-container{
    margin-right: 110px ;
  }
}


